@import './styles/assets.css';
@import './styles/fonts.css';
@import './styles/standard.css';
@import './styles/basket.css';
@import './styles/fonts.css';

.main-layout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}


@media (max-width: 700px) {
    #cart {
        display: none; 
    }

    #mobile-cart-button {
        display: flex; 
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ff6600;;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1200;
    }

    #mobile-cart-overlay {
        display: flex; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        align-items: center;
        justify-content: center;
        z-index: 1100;
    }

    .mobile-cart {
        display: flex;
    }

    #mobile-cart-overlay.hidden {
        display: none; 
    }

    .dish-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .dish-price, .dish-card button.icon-btn {
        flex: none;
        width: 100%;
    }

    .dish-info {
        min-width: 100%;
    }
}

@media (max-width: 340px) {
    .footer {
        flex-direction: column;
    }
}
